.container-body-button{
    border: 0;
    margin: 25px 25px;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.letsGetStarted-container-bady {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20pt;
    background-color: white;
    border-style: solid;
    border-color: #aacc5c;
    padding: 4px;
    border-radius: 6px;
}
    
.letsGetStarted-container-bady:hover {
    background-color: #aacc5c;
}