*, :after, :before {
  box-sizing: border-box;
}

body{
display: block;
margin: 0;
font-family: "Inter",sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #1c1c33;
-webkit-font-smoothing: antialiased;
background: #fcfcfc;
}

div {
display: block;
}

label{
cursor: text;
position: relative;
padding: 8px 10px;
display: flex;
flex-direction: column;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}




@media screen and (max-width: 640px) {
.createNewAccaunt {
  position: absolute;
  top: -76px;
  right: -20px;
}
.container{
  position: absolute;
  top: +100px;
  padding: 12px;
}
.img-gira{
  padding-bottom: 0px;
}  
.layout-bady {
  padding: 12px;
}
.background-image-2{
  bottom: -50%;
  left: -30%;
}
}