*, :after, :before {
    box-sizing: border-box;
}

body{
  display: block;
  margin: 0;
  font-family: "Inter",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1c1c33;
  -webkit-font-smoothing: antialiased;
  background: #fcfcfc;
}

div {
  display: block;
}

.layout-bady {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 36px;
}

.img-gira{
  width: 100%;
  padding-bottom: 36px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border:0;
}

.img-gira-bady {
  height: 44px;
  margin: 8px;
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
}

.background-imag {
  position: absolute;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url(https://expo.stage.virtrex.de/img/pattern_gradient.svg);
  background-position: 100% 75%;
  background-size: cover;
  opacity: .1;
  border:0;
}

.background-image-2{
  width: 100%;
  height: 100%;
  bottom: -60%;
  left: -40%;
  color: #aacc5c;
  position: absolute;
  background-repeat: no-repeat;
}

.container {
  flex-grow: 1;
  width: 100%;
  max-width: 768px;
}

.container-bady {
  position: relative;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 36px;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24pt;
  margin: 25px 25px;
}


.button-bady {
  font-size: 14pt;
  text-decoration: underline;
  text-decoration-color: #aacc5c;
  color: black;
  margin: 25px 25px;
  padding: 8px 0;
  transition: padding .2s;
  background: transparent;
  border: inherit;
  border-radius: 4px;
  line-height: 16px;
  font-weight: 500;
}

.button-bady:hover {
  background-color: #aacc5c;
}

.container-body-text {
  margin: 25px 25px;
  border-radius: 8px;
}

.container-body {
  margin: 25px 25px;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  max-height: 60px;
}

label{
  cursor: text;
  position: relative;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
}

input:focus{ 
  display: flex;
  flex-direction:column-reverse;
  font-size: 20px;
}

.input-container-body{
  transform: translateY(-5px);
  transition: all .1s;
  font-size: 16px;
  line-height: 20px;
  color: rgba(28,28,51,.24);
}

.input-container-body:focus {
  transform: translateY(0px);
}

.input-container-footer {
  display: flex;
  flex-direction: column;
  transform: translateY(-22px);
  font-size: 18pt;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  background: #fcfcfc;
  color: #1c1c33;
}

.input-container-footer:focus {
  transform: translateY(-4px);
}

.container-body-button{
  border: 0;
  margin: 25px 25px;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.letsGetStarted-container-bady {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20pt;
  background-color: white;
  border-style: solid;
  border-color: #aacc5c;
  padding: 4px;
  border-radius: 6px;
}

.letsGetStarted-container-bady:hover {
  background-color: #aacc5c;
}

.footer{
  width: 100%;
  position: relative;
  padding-top: 36px;
  color: #fcfcfc;
}

.virtex{
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.text-footer {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #fcfcfc;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}




@media screen and (max-width: 640px) {
  .createNewAccaunt {
    position: absolute;
    top: -76px;
    right: -20px;
  }
  .container{
    position: absolute;
    top: +100px;
  }
  .img-gira{
    padding-bottom: 0px;
  }  
  .layout {
    padding: 12px;
  }
}